<% @page_title = "ユーザの詳細" %>
<h1><%= @page_title %></h1>

<ul class="toolbar">
  <p><%= link_to "ユーザ一覧に戻る", :admin_members %></p>
  <p><%= link_to "#{@member.name}を編集する", [:edit, :admin, @member] %></p>
</ul>

<table class="attr">
  <tr>
    <th width="150">ユーザー名</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.mail %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @member.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.telephone %></td>
  </tr>
</table>
