<% @page_title = "予約の詳細" %>
<h2><%= @page_title %></h2>

<ul class="toolbar">
  <p><%= link_to "予約一覧に戻る", :admin_orders %></p>
</ul>

<table class="attr">
    <thead>
    <tr>
        <th>タイプ</th>
        <th>パーツ名</th>
        <th>金額</th>
        <th>在庫</th>
    </tr>
    </thead>
    <tbody>
    <% @configurations.each do |configuration| %>
        <% part = Part.find_by(id: configuration.part_id) %>
        <tr>
            <td style="text-align: center"><%= part_type(part) %></td>
            <td style="text-align: center"><%= part.name %></td>
            <td style="text-align: center"><%= part.price %></td>
            <td style="text-align: center"><%= part.inventory %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<div class="toolbar">
    <%= link_to "予約を削除", [:admin, @order], method: :delete,
        data: { confirm: "本当に削除しますか？" } %> 
</div>            
