<% @page_title = "カート" %>
<h1><%= @page_title %></h1>

<% if @configurations.present? %>
  <div class="toolbar"><%= link_to "編集", edit_cart_path %></div>
  <br>
  <h3>カートの内容</h3>
  <table class="attr">
    <thead>
      <tr>
        <th>パーツ名</th>
        <th>金額</th>
        <th>タイプ</th>
        <th>グループ</th>
        <th>在庫</th>
      </tr>
    </thead>
    <tbody>
      <% @parts.each do |part| %>
        <tr>
          <td style="text-align: right"><%= part.name %></td>
          <td><%= part.price %></td>
          <td><%= part_type(part) %></td>
          <td><%= part.group %></td>
          <td><%= part.inventory %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="toolbar"><%= link_to "予約を確定する", new_order_path %></div>
<% else %>
  <h3>カートは空です。</h3>
  <p><%= link_to "Top", Plan %></p>
<% end %>