<% @page_title = "プラン管理" %>
<h1><%= @page_title %></h1>
<div class="toolbar">
    <p><%= link_to "プランの新規登録", :new_admin_plan %></p>
</div>

<h3>検索欄</h3>
<%= form_tag :search_admin_plans, method: :get, class: "search" do %>
  <p1>CPUの指定
  <%= select_tag :q1, options_for_select(@cpu_names) %></p1><br>
  <p1>GPUの指定
  <%= select_tag :q2, options_for_select(@gpu_names) %></p1><br>
  <p1>おすすめのユーザの指定
  <%= select_tag :q3, options_for_select(["指定なし", "エントリー", "ミドル", "ハイエンド"]) %>
  <%= submit_tag "検索" %></p1>
<% end %>
<br>


<% if @plans.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>プラン名</th>
        <th>おすすめのユーザ</th>
        <th>説明</th>
        <th>合計金額</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td style="text-align: right"><%= link_to plan.name , [:admin, plan] %></td>
          <td><%= plan.usertype %></td>
          <td><%= plan.description %></td>
          <td><%= plan.price %></td>
          <td>
            <%= link_to "編集", [:edit, :admin, plan] %> |
            <%= link_to "削除", [:admin, plan], method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>プラン情報がありません。</p>
<% end %>