<% @page_title = "新規プラン作成" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "プラン一覧に戻る", :admin_plans %></div>

<%= form_for [:admin, @plan] do |form| %>
  <%= render "new_form", form: form %>
  <div><%= form.submit "作成する" %></div>
<% end %>