<% @page_title = "プランの詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
  <p><%= link_to "プラン一覧に戻る", :admin_plans %></p>
  <p><%= link_to "#{@plan.name}を編集する", [:edit, :admin, @plan] %></p>
</div>

<% if @parts.present? %>
  <table class="attr">
    <thead>
      <tr>
        <th>パーツ名</th>
        <th>金額</th>
        <th>タイプ</th>
        <th>グループ</th>
        <th>在庫</th>
      </tr>
    </thead>
    <tbody>
      <% @parts.each do |part| %>
        <tr>
          <td style="text-align: right"><%= part.name %></td>
          <td><%= part.price %></td>
          <td><%= part_type(part) %></td>
          <td><%= part.group %></td>
          <td><%= part.inventory %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>パーツの情報がありません。</p>
<% end %>


