<% @page_title = "プラン一覧" %>
<h1><%= @page_title %></h1>

<h3>検索欄</h3>
<%= form_tag :search_plans, method: :get, class: "search" do %>
  <p1>CPUの指定
  <%= select_tag :q1, options_for_select(@cpu_names) %></p1><br>
  <p1>GPUの指定
  <%= select_tag :q2, options_for_select(@gpu_names) %></p1><br>
  <p1>おすすめのユーザの指定
  <%= select_tag :q3, options_for_select(["指定なし", "エントリー", "ミドル", "ハイエンド"]) %>
  <%= submit_tag "検索" %></p1>
<% end %>
<br>

<% if @plans.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>プラン名</th>
        <th>おすすめのユーザ</th>
        <th>説明</th>
        <th>合計金額</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td style="text-align: right"><%= link_to plan.name , plan %></td>
          <td><%= plan.usertype %></td>
          <td><%= plan.description %></td>
          <td><%= plan.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- ページネーション入れてもいいかも -->
<% else %>
  <p>プラン情報がありません。</p>
<% end %>